.o {
    text-align:center;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
 }

  p {
    font-size: 20px;
 } .työ {
    width:420px;
 } .somet {
    background-color: rgb(219, 84, 84);
    font-weight: bold;
    text-align:center;
    padding-top:7px;
    padding-bottom:7px;
 } 
 