.o {
    text-align:center;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
 }

  p {
    font-size: 20px;
    color:white;

 } .työ {
    width:420px;
 } .somet {
    font-weight: bold;
    text-align:center;
    background-color: rgb(20, 71, 18);    
    padding-top:8px;
    padding-bottom: 8px;
 } body {
   background-image:url(88149.jpg)
   
 } .kuvat1 {
   display:inline-block;
   text-decoration:underline;
   margin: 0 auto;
 } .kuvat:hover {
   opacity: 0.6;
 } .link1 {
   font-size:25px;
 } .link2 {
   font-size: 25px;
 } .l1 {
   text-align:center;
 } .l2 {
   text-align:center;
 }  .harrastus {
   width:420px;
 } .opiskelu {
   width:420px;
 } .navi {
   display:inline-block;
   text-decoration: underline;
   margin: 0 auto;
 } .navi:hover {
   opacity: 0.6
 }
